@page
@model IndexModel
@{
    ViewData["Title"] = "Tirar Foto";
}

<div class="text-center">
    <button class="btn btn-primary" onclick="setPlaceholder()">Set cam Placeholder</button>
    <button class="btn btn-primary" onclick="setTestAdicionar()">Set Teste Adicionar</button>

    <div id="cardp" class=" card col m-5 pt-3">
        <div class="row justify-content-center">
        <button type="button" class="btn btn-primary mb-3" id="Btn_LoadCam" onclick="loadCamera()" style="width: 10rem;">Usar camera</button>
        <br>

        <div id="cam" style="display:none;">
            <h3>Tire uma foto</h3>
            <img id="camPlaceholder">
            <video autoplay="true" id="webCam"></video>
            <br><br>
            <div class="card-footer p-3">
                <button type="button" class="btn btn-primary" id="Btn_TirarFoto" onclick="takeSnapShot()">Tirar foto e salvar</button>
            </div>  
        </div>

    
        <div id="confirm" style="display:none;">
        <form method="post" asp-page-handler="Send" id="foto_display" >
            <h3>Confirme a foto</h3>
            <div class="row">
                <div asp-validation-summary="All"></div>
            </div>
            <img id="foto"><br>
            <input id="fotoBase64" type="hidden" asp-for="NewFoto.Base64" /><br>
            <div class="card-footer row justify-content-center p-3">
                <button class="btn btn-primary col-2 me-3" type="submit">Adicionar</button>
                <span class="btn btn-primary col-2 ms-3" onClick="TryAgain()">Tirar Outra</span>
            </div>  
        </form>
        </div>

        <div id="aviso" class="pb-3">
            <h4>Aviso</h4>
            <p>A funcionalidade de usar a webcam pode não ser compativel com versões mais antigas de alguns navegadores ou em sites HTTP.</p>
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#browser_compatibility">Lista de compatibilidade</a>
        </div>
        </div>
    </div>

    <div class="conteiner-fluid">
        <div class="row justify-content-center">
            <h4>Listagem de fotos</h4>
        </div>
    <div class="row justify-content-center">
        @foreach (var f in Model.Lista)
        {
            <div class="card p-4 col-3 m-2">
                <img src="@f.Show()" class="card-img-top">
            </div>
        }
    </div>
    </div>
</div>
