@page
@model IndexModel
@{
    ViewData["Title"] = "Tirar Foto";
}

<div class="text-center">
    <div id="cardp" class="">
        <button type="button" id="Btn_LoadCam" onclick="loadCamera()">Usar camera</button>

        <div id="cam" style="display:none;">
            <img id="teste">
            <video autoplay="true" id="webCam" style="display:none;"></video><br>
            <button type="button" id="Btn_TirarFoto" onclick="takeSnapShot()">Tirar foto e salvar</button>
        </div>

    
        <div id="foto_display" style="display: none;">
            <img id="foto">
            <p id="caminhoImagem" class="caminho-imagem"><a href="" target="_blank" rel="noopener"></a></p>
        </div>

        <div id="aviso">
            <h4>Aviso</h4>
            <p>A funcionalidade de usar a webcam pode não ser compativel com versões mais antigas de alguns navegadores ou em sites HTTP.</p>
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#browser_compatibility">Lista de compatibilidade</a>
        </div>
    </div>
</div>
